<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="script.js"></script>
    <link href="style.css" rel="stylesheet" >
</head>
<body>
<div class="signupSection">
    <div class="info">
        <h2>Mission to Deep Space</h2>
        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
        <p>The Future Is Here</p>
    </div>
    <form action="/signup1" method="GET" class="signupForm" name="signupform">
        <h2>Sign Up</h2>
        <ul class="noBullet">
            <li>
                <label for="username"></label>
                <input type="text" value="{{username}}" class="inputFields" id="username" name="username" placeholder="Username" oninput="return userNameValidation(this.value)" required/>
            </li>
            <li>
                <label for="password"></label>
                <input type="password" value="{{password}}" class="inputFields" id="password" name="password" placeholder="Password" oninput="return passwordValidation(this.value)" required/>
            </li>
            <li>
                <label for="email"></label>
                <input type="email" value="{{email}}" class="inputFields" id="email" name="email" placeholder="Email" required/>
            </li>
            <li id="center-btn">
                <form action="/signup2" method="get">
                <input type="submit" class="btn" name="action" value="Next">
                </form>
            </li>
        </ul>
    </form>
</div>
</body>
</html>